<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>List o Burgers!</h1>
  <% burgers.forEach((b) => { %>
    <h3>Name: <%= b.name %> </h3>
    <h4>Protein: <%= b.protein %> </h4>
    <ul>
      <% b.ingredients.forEach((i, idx) => { %>
        <li><%= i %></li>
      <% }) %> 
    </ul> 
  <% }) %>
</body>
</html>